h1 {
    font-family: "Hammersmith One", cursive;
}

h3 {
   font-family: cursive;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#start-page{
    vertical-align: center;
}

.circle {
    height: 260px;
}

.small-text {
    font-family: 'Marck Script', cursive;
}

.title {
    padding: 0.5%;
}

.info {
    padding-left: 2.5%;
    font-size: 0.9em;
}

.indicator {
    background-color: silver !important;
}

.no-edges {
    border-radius: 0.35em;
}

.fixed-tab {
    height:auto;
    display flex;
    flex-direction: column;
    align-items: center;
}

.tab-image {
    width: auto;
    height: 300px;
}

#about, #showcase, #senior-design, #additional-projects {
   position: relative;
   border-top: 52px solid transparent;
   margin: -30px 0 0;
   -webkit-background-clip: padding-box;
   -moz-background-clip: padding;
   background-clip: padding-box;
}

#about:before, #showcase:before, #senior-design:before, #additional-projects:before {
   content: "";
   position: absolute;
   top: -2px;
   left: 0;
   right: 0;
}


@media only screen and (min-width: 1400px) {
  header {
    min-height: 100vh;
  }
}
