.small-text {
    font-family: 'Marck Script', cursive;
}

.title {
    padding: 0.5%;
}

.info {
    padding-left: 2.5%;
    font-size:0.9em;
}

.fixed-tab {
    height:auto;
    display flex;
    flex-direction: column;
    align-items: center;
}

.indicator {
    background-color: mediumaquamarine !important;
}

.tab-image {
    width: auto;
    height: 300px;
}

.no-edges {
    border-radius: 0.35em;
}
