.profile-pic {
    border-radius: 60em;
}

h1 {
    font-family: 'Poller One', cursive;
}

h3 {
    font-family: 'Hammersmith One', sans-serif;
}


h4 {
    font-family: 'Ceviche One', cursive;
}

.small-text {
    font-family: 'Marck Script', cursive;
}

.info {
    padding: 1%;
    padding-left: 2.5%;
    font-size:0.9em;
}

.images {
    background-image: cover;
}

.links a {
    color:black;
}

.no-edges {
    border-radius: 0.3em;
}

header {
    height: 100vh;
}


@media only screen and (max-width: 850px) {
    header {
        height: auto;
    }
}
